repos:
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=file]
      - id: cpplint
        args: ['--filter=-runtime/references,-build/include_order,-build/include_what_you_use,-legal/copyright']
